<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> 
  
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">HOME</a>
        <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>  collapse navbar-collabse-->
      
        <div class="navbar navbar-expand" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            
            {% if session.log %}
            <li class="nav-item">
              <a class="nav-link" href="/options">OPTIONS </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">LOGOUT</a>
            </li>
            
            {% else %}
            <li class="nav-item active">
              <a class="nav-link" href="/register">REGISTER </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">LOGIN  </a>
            </li>
            </li>
            {% endif %}
            
          </ul>
          
        <div class= "ml-3">
         <img src="http://www.tynwald.org.im/about/news/PublishingImages/1766-1.png" alt="court of arms"style=" width: 60px; height: 60px;  border-radius: 50%;">
        </div>
        </div>
      </nav>

     
    {% include "includes/_message.html "%}
    {% block body %}
    {% endblock %}
</body>
</html>