{% extends "layout.html"%}
{% block body %}
<div class="container">
    <h1>Register</h1>
    <form action="" method="POST">
        <div class="form-group">
            <input type="text" name="name" class="form-control" placeholder="NAME" required>
        </div>
        <div class="form-group">
            <input type="text" name="username" class="form-control" placeholder="USERNAME" required>
        </div>
        <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="PASSWORD" required>
        </div>
        <div class="form-group">
            <input type="password" name="confirm" class="form-control" placeholder="CONFIRM PASSWORD" required>
        </div>
        <button class="btn btn-primary" type="submit">SUBMIT</button>
    </form>
</div>

{%endblock%}