{% extends "layout.html"%}
{% block body %}
<style>
    body{
        margin: 0;
        padding: 0;
        background: linear-gradient(0deg,#03b812, #040699,#eb0707);
        background-repeat: no-repeat;

        
    }
    h1 {
        text-align: center;
        color: white;
        text-transform: uppercase;
        margin-top: 20px;
    }
    .idclass {
        text-align: center;
        margin-top: 70px;
        
    }
    .formcontrol {
        width: 50%;
        height: 40px;
        border-radius: 10px;
        border-bottom: black;
        
    }
    .formcontrol:hover{
        background: blanchedalmond;
    
    }
    h4 {
        text-transform: uppercase;
    }
    

</style>
<h1>application form for visa</h1>
<div class="idclass">
<form action="" method="POST">
    <div class="form-group">
        <input type="text" name="title" class="formcontrol" placeholder="TITLE" required>
    </div>
    <div class="form-group">
        <input type="text" name="fname" class="formcontrol" placeholder="FIRSTNAME" required>
    </div>
    <div class="form-group">
        <input type="text" name="lname" class="formcontrol" placeholder="SURNAME" required>
    </div>
    <div class="form-group">
        <input type="text" name="number" class="formcontrol" placeholder="TELEPHONE NUMBER/EMAIL ADDRESS" required>
    </div>
    <div class="form-group">
        <input type="text" name="address" class="formcontrol" placeholder="ADDRESS" required>
    </div>
     <h4>date of birth:</h4>
    <div class="form-group">
        <input type="date" name="DoB" class="formcontrol" placeholder="DATE OF BIRTH" required>
    </div>
    <div class="form-group">
        <input type="text" name="PoB" class="formcontrol" placeholder="PLACE OF BIRTH" required>
    </div>
    <h4>upload your passport copy:</h4>
    <div class="form-group">
        <input type="file" name="file" class="" placeholder="UPLOAD YOU DOCUMENT" required>
    </div>
    
    <button class="btn btn-primary" type="submit">SUBMIT</button>
</form>
</div>
{%endblock%}